@charset "UTF-8";
body{
	height:400px;
}
.divbody{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: white;
	height:80px;
}
.td-css{
	border: 2px solid black;
	width:100px;
}
.td-css11{
	border-style:none;
	text-align:center;
	width:25px;	
}
.td-css12{
	border:none;
}
.td-css13{
	border-left:none;
	border-right:none;
}
